#picture img, #pictureExp img{
    width: 100%;
}

.flex-container {
    display: flex;
    margin-top: 2.5em;
}

.flex-child {
    flex: 1;
    float: left;
}  

.flex-child:first-child {
    margin-right: 20px;
} 